.header {
    padding-top: 25px;
    padding-bottom: 25px;
}

.mobile_header__input__block {
    position: relative;
}

.mobile_searchbar {
    position: absolute;
    width: 100%;
    top: 102%;
    background: #fff;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 3px;
    z-index: 3;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.search_item {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #EBF0FF;
    border-radius: 5px;
}

.search_img {
    width: 100px;
    height: 80px;

}

.search_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search_item_title {
    color: #223263;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
    letter-spacing: 0.5px;
}

.search_item_about {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search_item_price {
    color:#40BFFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%; /* 21.6px */
    letter-spacing: 0.5px;
}

.top_header {
    border-bottom: 2px solid #FAFAFB;
    padding-bottom: 14px;
}

.cart_page {
    cursor: pointer;
}

.top_header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select_box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.top_header__details {
    display: flex;
    align-items: center;
    gap: 32px;
}

.select_lang,
.select_curr {
    color: #262626;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    border: none;
    outline: none;
}

.profile {
    color: #262626;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 6px;
}

.profile::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(/img/user-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.cart_page {
    position: relative;
}

.cart_page span {
    width: 20px;
    height: 20px;
    background-color: #FB7181;
    color: #FFF;
    border: 2px solid #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
}

.cart_page::before {
    content: "";
    width: 22px;
    height: 24px;
    display: inline-block;
    background-image: url(/img/product_cart.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.cart_link {
    color: #262626;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.header_price {
    color: #939393;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 7px;
}

.header_price::after {
    content: "";
    width: 21px;
    height: 21px;
    display: inline-block;
    background-image: url("/img/search-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.main_header {
    padding-top: 26px;
}

.main_header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header_list {
    display: flex;
    align-items: center;
    gap: 98px;
}

.logo_text {
    color: #22262A;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.header_link {
    color: #262626;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.header_link:hover {
    color: #40BFFF;
}

.active {
    color: #40BFFF;
    border-bottom: 2px solid #40BFFF;
}

.active_tab {
    color: #33A0FF;
    border-bottom: 2px solid #33A0FF;
}

.mobile_header {
    display: none;
}

@media screen and (max-width: 990px) {
    .header_list {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .select_box {
        display: none;
    }

    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .mobile_header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    .top_header__details {
        display: none;
    }

    .main_header {
        display: none;
    }

    .mobile_header__input__block {
        max-width: 100%;
        width: 263px;
        border-radius: 5px;
        border: 1px solid #EBF0FF;
        position: relative;

        &::before {
            content: '';
            width: 16px;
            height: 16px;
            background-image: url(/img/search-primary.svg);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 16px;
        }
    }

    .mobile_header__input {
        width: 100%;
        border: none;
        outline: none;
        padding: 12px 16px 12px 42px;
        color: #9098B1;

        /* Body Text/NormalRegular */
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 400;
        line-height: 180%; /* 21.6px */
        letter-spacing: 0.5px;
    }

    .liked_link::before {
        content: '';
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url(/img/heart-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .mobile_cart__link::before {
        content: '';
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url(/img/bell.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

#toastBox {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    z-index: 20;
}

.toast {
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.4s linear forwards;
}

@keyframes moveleft {
    100%{
        transform: translateX(0);
    }
}

.toast i {
    margin: 0 20px;
    font-size: 35px;
    color: green;
}

.toast.error i {
    color: red;
}

.toast.invalid i {
    color: orange;
}

.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}

@keyframes anim {
    100%{
        width: 0;
    }
}

.toast.error::after {
    background: red;
}

.toast.invalid::after {
    background: orange;
}