.services {
    padding-top: 180px;
    padding-bottom: 137px;
}

.services_list {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 257px;
}

.services_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 54px;
}

.services_item::before {
    content: '';
    width: 69px;
    height: 79px;
    display: inline-block;
    background-image: url(../img/service2.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.services_item:last-child::before{
    content: '';
    width: 67px;
    height: 89px;
    display: inline-block;
    background-image: url(../img/service3.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.services_item:first-child::before{
    content: '';
    width: 101px;
    height: 66px;
    display: inline-block;
    background-image: url(../img/service1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1104px) {
    .services_list {
        display: flex;
        justify-content: space-between;
        gap: 0px;
    }
}

@media screen and (max-width: 660px) {
    .services_list {
        display: none;
    }
}

.services_item__title {
    color: #22262A;
    font-family: Poppins;
    font-size: 27px;
    font-weight: 500;
}

